/*
    Colour for new terms
    Make syntax highlighting

    Exercise book
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.impress-enabled .step {
  position: relative;
  width: 900px;
  padding: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'PT Sans', georgia, serif;
  font-size: 48px;
  line-height: 1.5;
  margin: 0;
  opacity: 0.1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.impress-on-overview .step {
  opacity: 1;
}
.impress-enabled .active {
  opacity: 1.0;
}
.impress-enabled .step h1 {
  color: #B1009A;
  font-size: 72px;
  font-weight: 500;
}
.impress-enabled .step h2 {
  font-size: 60px;
  font-weight: 500;
}
.impress-enabled .step h3 {
  font-size: 50px;
}
.impress-enabled .step p {
  font-size: 28px;
  margin: 10px 0;
}
.impress-enabled .step p strong {
  font-weight: 700;
}
.impress-enabled .step p.code {
  font-family: 'PT Mono', sans-serif;
  color: #007a23;
}
.impress-enabled .step p.question {
  color: #ffaa00;
}
.impress-enabled .step ul {
  list-style: circle;
  margin: 0 0 0 30px;
}
.impress-enabled .step ul li {
  margin: 10px 0;
  font-size: 28px;
}
.impress-enabled .step .author {
  color: #888;
  margin: 50px 0 0 0;
  font: italic 26px/38px 'Georgia', serif;
}
.impress-enabled .step .author a {
  color: #888;
}
.impress-enabled .step .instruction {
  color: orange;
}
.impress-enabled .step .control {
  color: blue;
}
.impress-enabled .step .condition {
  color: purple;
}
.impress-enabled .step .decision {
  color: gray;
}
.impress-enabled .step .important {
  color: red;
}
.impress-enabled .step a {
  color: #B1009A;
  text-decoration: none;
}
.impress-enabled .step a:hover {
  color: #666;
  text-decoration: underline;
}
.title {
  text-align: center;
}
.title h2 {
  font: normal 55px 'PT Mono', serif;
}
#algos-3 img {
  height: 300px;
}
#turtles.step {
  position: relative;
}
#turtles.step img {
  position: absolute;
  height: 225px;
  top: 0;
  right: 120px;
}
#turtles.step h2 {
  margin: 0 0 40px 0;
}
#functions-4 img,
#functions-4 .line {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#functions-4 img {
  height: 200px;
  display: inline-block;
}
#functions-4 .line {
  z-index: -10;
  position: relative;
  top: -100px;
  height: 4px;
  background: #ccc;
  opacity: 0;
  width: 400px;
}
#functions-4.present img,
#functions-4.past img {
  -webkit-transform: translateX(400px);
  -moz-transform: translateX(400px);
  -ms-transform: translateX(400px);
  -o-transform: translateX(400px);
  transform: translateX(400px);
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -ms-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
#functions-4.present .line,
#functions-4.past .line {
  -webkit-transition-delay: 1.4s;
  -moz-transition-delay: 1.4s;
  -ms-transition-delay: 1.4s;
  -o-transition-delay: 1.4s;
  transition-delay: 1.4s;
  opacity: 1;
}
#functions-exercise p.small {
  font-size: 20px;
  line-height: 20px;
  margin: 0 0 10px 0;
}
#break {
  position: relative;
}
#break img {
  position: absolute;
  top: 20px;
  right: 0;
}
#turtles-move.present {
  opacity: 1.0;
  background: white;
}
#turtles-move.past,
#turtles-move.future {
  opacity: 0;
}
#owari {
  width: 1100px;
  height: 400px;
  background: url('congrats.png') top right no-repeat;
}
