html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.impress-enabled .step {
  position: relative;
  width: 900px;
  padding: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'PT Sans', georgia, serif;
  font-size: 48px;
  line-height: 1.5;
  margin: 0;
  opacity: 0.1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
.impress-enabled .active {
  opacity: 1.0;
}
.impress-enabled .step h1 {
  color: #B1009A;
  font-size: 72px;
  font-weight: 500;
}
.impress-enabled .step h2 {
  font-size: 60px;
  font-weight: 500;
}
.impress-enabled .step h3 {
  font-size: 50px;
}
.impress-enabled .step p {
  font-size: 28px;
}
.impress-enabled .step ul {
  list-style: circle;
  margin: 0 0 0 30px;
}
.impress-enabled .step ul li {
  margin: 10px 0;
  font-size: 28px;
}
.title {
  text-align: center;
}
.title h2 {
  font: italic 55px 'georgia', serif;
}
